<% content_for :title do %>Contact<% end %>
<section>
  <div class="columns">
    <h3>Contact</h3>
    <div class="row collapse">
      <div class="small-12 large-6 columns">
        <%= simple_form_for @contact do |form| %>
          <%= form.error_notification %>
          <%= form.input :name, autofocus: true %>
          <%= form.input :email %>
          <%= form.input :content, as: :text %>
          <%= form.button :submit, 'Submit', class: 'submit small' %>
        <% end %>
      </div>
    </div>
  </div>
</section>